<%- include("partials/header.ejs") %>

<div class="postCreationContainer">
    <h2 class="postCreation">edit your Blog entry.</h2>

    <form class="postCreationForm" action="/saveEdit" method="POST">
        <input type="text" class="postTitleBox" name="title" value="<%= title %>" />
        <textarea class="postTextBox" name="text"><%= text %></textarea>
        <input type="hidden" name="index" value="<%= index %>" />
        <div class="submitButtonContainer">
            <input type="submit" class="submitButton" value="submit" />
        </div>
    </form>
</div>
<%- include("partials/footer.ejs") %>